$background-color: #0d72e6;
$base-color:#f4f1ec;
$body-font-size:24px;

//vertically align image
@mixin vertical-pic {
  display: flex;
  justify-content: center;
}

nav + header {
  position: absolute;
  top:0;
  height: 400px;
  width: 100%;
  background-color: $background-color;
  @include vertical-pic;
  flex-direction: column;
  align-items: center;

  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  

  #avatar {
    @include vertical-pic;

    img {
      width:65%;
      padding-top: 110px;
    }

  /*
 * For desktop style
 */
  @media only screen and (min-width: 768px) {
      img {
        padding-top: 20px;
      }
    }
  }
  h2 {
    color:$base-color;
    margin-top: 0;
    font-size:  $body-font-size * 1.3;
  }  
}



 /*
 * For desktop style
 */
@media only screen and (min-width: 768px) {
  nav + header {
    position: fixed;
    width: 40%;
    float: left;
    border:solid;
    border-color: $base-color;
    border-width: 3em;
    margin-top: 120px;
  }



}