nav + header {
  position: absolute;
  top: 0;
  height: 400px;
  width: 100%;
  background-color: #0d72e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
nav + header #avatar {
  display: flex;
  justify-content: center;
  /*
  * For desktop style
  */
}
nav + header #avatar img {
  width: 65%;
  padding-top: 110px;
}
@media only screen and (min-width: 768px) {
  nav + header #avatar img {
    padding-top: 20px;
  }
}
nav + header h2 {
  color: #f4f1ec;
  margin-top: 0;
  font-size: 31.2px;
}

/*
* For desktop style
*/
@media only screen and (min-width: 768px) {
  nav + header {
    position: fixed;
    width: 40%;
    float: left;
    border: solid;
    border-color: #f4f1ec;
    border-width: 3em;
    margin-top: 120px;
  }
}
