body nav {
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 1;
  position: fixed;
  top:0;
}

nav span {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
}
.fa-solid.fa-angles-down {
  display: flex;
  justify-content: center;
  color:red;
}

nav div div{
  color: #FFFFFF;
  font-size: 20px;
}