button {
  background-color: #008CBA;
  border: 1px;
  color: white;
  padding: 5px 6px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  font-weight:bold;
  margin-bottom: 5px;
}

label {
  color:slategrey;
}

.new-tweet {
  width:100%;
  margin-bottom: 1.3em;
}

.new-tweet h2 {
  display: none;
}

#tweet-text {
  width: 100%;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 3px,solid,slategray;
  background-color: transparent;
}

form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  color: #FFFFFF;
  font-weight: bold;
  padding-left: 2em;
  padding-right: 2em;
}

.counter {
  color:slategray;
}

form {
  margin-top: 1em;
}

.alert {
  color:red;
  font-size: 30px;
  border: solid;
  display: none;
}